/*Nav bar line*/
.nav-list {
	top: 0;
	left: 0;
	font-family: tahoma;
	font-weight: bold;
	position: fixed;
	background-color: #494545;
	width: 100%;
}

#bodybg {
	background-blend-mode: blur(25px);
	margin-top: 50px;
}

.nav-page ul {
	text-decoration: none;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.nav-page li {
	float: left;
}

.nav-page li a {
	display: block;
	color: white;
	text-align: center;
	padding: 8px 14px;
	text-decoration: none;
}

.nav-page li:hover:not(#active) {
	background-color: turquoise;
}

#active {
	background-color: #18679F;
}

.sched {
	background-color: white;
	margin: 15px;
}

.sched th {
	background-color: gray;
	width: 10%;
	font-weight: bold;
	font-size: 24px;
}

.sched tr {
	line-height: 30px;
}

td {
	font-weight: bold;
	text-align: center;

}

td:hover {
	background-color: turquoise;
}

.time {
	width: 5%;
}

footer {
	align-content: center;
	font-weight: bold;
	margin-top: 10px;
	background-color: gray;
	text-align: center;
	border-radius: 25px 25px 25px 25px;
	padding-bottom: 4px;
}